
@{
            ViewBag.Title = "Index";
        }
        @{
            ViewBag.Title = "Product List";
        }

        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
        <h2>Product List</h2>
        <div>
            <table id="grid"></table>
            <div id="pager"></div>
        </div>

        @section scripts{
        <script src="~/Scripts/jquery-3.3.1.js"></script>
            <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
            <script src="~/Scripts/i18n/grid.locale-en.js"></script>
            <script src="~/Scripts/jquery.jqGrid.min.js"></script>
            <script src="~/Scripts/JQGrid.js"></script>
    }

