@{
    ViewBag.Title = "About";
}

    <div class="panel">

        <div class="panel-heading h2"> Sadguru's Amrit-Tulya - Tea Shop </div>
        <div class="panel-primary">
            Working hours of  Sadguru's Amrit-Tulya - Tea Shop
        </div>
        <div class="panel-info">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Day
                        </th>
                        <th>Open Time</th>
                        <th>Close Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Monday
                        </td>
                        <td>
                            7:00 AM
                        </td>
                        <td>
                            9:00 PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tuesday
                        </td>
                        <td>
                            7:00 AM
                        </td>
                        <td>
                            9:00 PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thirsday
                        </td>
                        <td>
                            7:00 AM
                        </td>
                        <td>
                            9:00 PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Friday
                        </td>
                        <td>
                            7:00 AM
                        </td>
                        <td>
                            9:00 PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Satday
                        </td>
                        <td>
                            7:00 AM
                        </td>
                        <td>
                            9:00 PM
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sunday
                        </td>
                        <td>
                            7:00 AM
                        </td>
                        <td>
                            9:00 PM
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

