@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b> Sadguru's Amrit-Tulya - Tea Shop</b><br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    456.789.0112
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@SadgurusAmritTulya.com">Support@SadgurusAmritTulya.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@SadgurusAmritTulya.com">Marketing@SadgurusAmritTulya.com</a>
</address>